
%section.text-gray-600.body-font
  .container.px-5.py-24.mx-auto
    .flex.flex-wrap.-m-4
      - @collection.each do |recipe|
        .p-4{:class => "md:w-1/3"}
          = link_to recipe_path(recipe.id) do
            .h-full.border-2.border-gray-200.border-opacity-60.rounded-lg.overflow-hidden
              %img.lg:h-48.md:h-36.w-full.object-cover.object-center{src: recipe.photo.url}/
              .p-6
                %h1.title-font.text-lg.font-medium.text-gray-900.mb-3= recipe.title
